@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: GeosansLight;
    src: url(./fonts/GeosansLight.ttf);
}

@font-face {
    font-family: Pompadour;
    src: url(./fonts/01_APompadourSample.ttf);
}

body {
    font-family: GeosansLight;
    /*font-size: 24px;
    font-weight: 500;*/
}

.header {
    padding: 5px 10px;
}
.header .title {
    font-family: Pompadour;
    font-weight: bold;
    font-size: 6rem;
}

h3 {
    /*font-size: 1.8rem; */  
    font-weight:600;
    /*border-bottom: 1px solid #ddd;*/
    margin-top: 1rem;
}

.row.clear-margin {
    margin-left: 0px;
    margin-right: 0px;
}

.pomodoro-btn-group button {
    display: block;
    margin: .2rem 0;
    max-width: 130px;
    width: 100%;
    margin: 5px auto;
}

.member-avatar img {
    width: 100%;
    height: 66px;
}

.align-right {
    text-align: right;
}

.main-pomodoro .timer {
    font-size: 6rem;
    line-height: 6rem;
}

.timer {
    font-size: 4rem;
    line-height: 4rem;
    text-align: center;
}

.status {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    /*font-weight: bold;*/
    text-transform: uppercase;
}

.member-name {
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: center;
    font-weight: bold;
}

button {
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
}

.alert {
    padding: 5px 10px;
    margin-bottom: 0px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center
}

div[class^="col"]{padding-left:3px; padding-right:3px;}
.row{margin-left:-3px; margin-right:-3px;}
.list-group-item{padding-left:4px; padding-right:4px;}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) 
{ 
    div[class^="col"]{padding-left:10px; padding-right:10px;}
    .row{margin-left:-10px; margin-right:-10px;}
    .list-group-item{padding-left:10px; padding-right:10px;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) 
{   
    div[class^="col"]{padding-left:10px; padding-right:10px;}
    .row{margin-left:-10px; margin-right:-10px;}
    .list-group-item{padding-left:10px; padding-right:10px;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{   
    /*default so you don't need this*/
    div[class^="col"]{padding-left:15px; padding-right:15px;}
    .row{margin-left:-15px; margin-right:-15px;}
    .list-group-item{padding-left:15px; padding-right:15px;}
}